<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About our website</title>
</head>
<body>
    <div class="container" style="text-align: center">
        {% include 'navbar.html' %}

        <h1>This is services page</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci, cumque! Amet temporibus ducimus eveniet iste vero nihil dicta iusto dolore, pariatur, fugit aliquam voluptates dignissimos voluptatem nobis quia suscipit fugiat quaerat molestias! Consectetur deserunt assumenda quisquam maxime, in excepturi dolor magnam fugiat dolorum animi facere laboriosam, porro culpa at itaque.</p>
        <button>Contact us</button>
    </div>
</body>
</html>